OPENAI_API_KEY="sk-proj-"
GOOGLE_API_KEY="AI"
PUSHOVER_TOKEN=""
PUSHOVER_USER=""

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-api-key>
LANGSMITH_PROJECT=pr-majestic-competitor-68
OPENAI_API_KEY=<your-openai-api-key>